$primary_color: #F4E041;
$secondary_color: #00BDD3;
$background_color: #F8F8F8;
$accent_background_color: #ffffff;

//text
$primary_text_color: #000000;
$secondary_text_color: #ffffff;

//button colors
$btn_normal_color: $primary_color;
$btn_normal_hover: #FFE302;
$btn_normal_disabled: #B4B4B4;
$btn_primary_text_color: rgba(0, 0, 0, 0.87);
$btn_secondary_text_color: rgba(255, 255, 255, 0.87);

